//fonts
$fontBold: 'open_sansbold', Tahoma, sans-serif;
$fontRegular: 'open_sansregular', Tahoma, sans-serif;
$fontExtrabold: 'open_sansextrabold', Tahoma, sans-serif;
$fontSemibold: 'open_sanssemibold', Tahoma, sans-serif;

//colors
$vkBlue: #577ca1;
$spotifyDark: #1b1b1b;
$spotifyGreen: #34aa33;
$notFound: #9E9E9E;

// transition
@mixin transition($transition) {
    -webkit-transition: all $transition;
    -moz-transition: all $transition;
    -ms-transition: all $transition;
    -o-transition: all $transition;
    transition: all $transition;
}


html, body {
    height: 100%;
    .page{
        height: 100%;
        background-color: $spotifyDark;
        
        .dot1, .dot2, .dot3 {
            display: inline-block;
            width: 5px;
            height: 5px;
            background: $spotifyGreen;
            border-radius: 50%;
            visibility: hidden;
            opacity: 0;
            @include transition(300ms);
        }
        .dot-active{
            visibility: visible;
            opacity: 1;
        }
    }
    .content{
        height: 100%;
        .sides-wrap{
            height: 100%;
            font-size: 0;
            .eqv-part{
                position: relative;
                height: 100%;
                width: 50%;
                display: inline-block;
                background-color: $spotifyDark;
                &.dark-side{
                    background-color: $spotifyDark;
                }
                .vk-head,.to-word,.sp-head,.transfer-head{
                    position: absolute;
                    font-family: $fontExtrabold;
                }
                .vk-head{
                    margin: 0;
                    padding: 0;
                    right: 44px;
                    top: 15%;
                    color: $vkBlue;
                    text-transform: uppercase;
                    font-size: 60px;    
                }
                .to-word{
                    text-transform: uppercase;
                    font-size: 60px;
                    top: 25%;
                    right: -47px;
                    z-index: 2;
                    .to-word-f{
                        color: $vkBlue;
                    }
                    .to-word-s{
                        color: $spotifyGreen;
                    }
                }
                .sp-head{
                    margin: 0;
                    padding: 0;
                    top: 37%;
                    left: 44px;
                    font-family: $fontExtrabold;
                    font-size: 60px;
                    color: $spotifyGreen;
                    text-transform: uppercase;
                }
                .transfer-head{
                    top: 52%;
                    text-transform: uppercase;
                    font-family: $fontExtrabold;
                    font-size: 60px;
                    left: -168px;
                    span{                        
                        &:first-child{
                            color: $vkBlue;
                        }
                        &:last-child{
                            color: $spotifyGreen;
                        }
                    }
                }
                .vk-login{
                    color: $vkBlue;
                    background: transparent;
                    border: 2px solid $vkBlue;
                    line-height: 53px;
                    font-size: 25px;
                    display: block;
                    padding: 0 55px 0 25px;
                    border-radius: 15px;
                    right: 20%;
                    position: absolute;
                    bottom: 15%;
                    text-decoration: none;
                    background-image: url("../img/next.png");
                    background-repeat: no-repeat;
                    background-position: 94% 9px;
                    @include transition(300ms);
                    &:hover{
                        background-position: 96% 9px;
                    }
                }
            }
        }
    }
    .err-holder{
        display: inline-block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        width: 100%;
        text-align: center;
        color: #fff;
        a{
            font-size: 25px;
        }
    }
}

.load-overlay{
    /*background: rgba(0, 0, 0, 0.47);*/
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tracks-finding-zone{
    background-color: $spotifyDark;
    .tracks-col {
        display: inline-block;
        width: 33.3%;
        vertical-align: top;
        h3{
            font-family: $fontBold;
            text-align: center;
            margin: 28px 0;
        }
        &.vk-col{
            h3{
                color: $vkBlue;
            }
            button{
                float: right;
                margin: 20px 0 0 0;
                border: none;
                background: transparent;
                color: $spotifyGreen;
                font-size: 20px;
                font-family: $fontSemibold;
                padding: 5px 36px 5px 10px;
                position: relative;
                &:before{
                    position: absolute;
                    content: '';
                    background-image: url("../img/arr-r.png");
                    width: 30px;
                    background-size: 87%;
                    background-repeat: no-repeat;
                    height: 30px;
                    right: 0px;
                    top: 6px;
                    @include transition(300ms);
                }
                &:hover{
                    &:before{
                        right: -10px;
                    }
                }
            }
            .progress-wrap{
                text-align: center;
                .in-progress{
                    display: none;
                    margin: 20px 0px 0 0;
                    text-align: center;
                    border: none;
                    background: transparent;
                    color: $spotifyGreen;
                    font-size: 20px;
                    font-family: $fontBold;
                    padding: 5px 36px 5px 10px;
                    position: relative;
                    text-transform: uppercase;
                }
            }
        }
        &.spotify-col{
            h3{
                color: $spotifyGreen;
            }
        }
        &.nf-col{
            h3{
                color: $vkBlue;
            }
        }

        .not-found-container{
            height: 530px;
            height: 78vh;
            padding: 10px 20px 40px 10px;
            position: relative;
            .vk-track{
                margin: 0 0 10px 0;
                padding: 0 10px;
                color: $notFound;
                .track-artist{
                    font-family: $fontSemibold;
                }
            }
        }
        .vk-tracks-container{
            height: 530px;
            height: 78vh;
            overflow-x: hidden;
            padding: 10px 20px 40px 10px;
            position: relative;
            .vk-track {
                position: relative;
                left: 0;
                margin: 0 0 10px 0;
                padding: 0 10px;
                color: $vkBlue;
                .track-artist{
                    font-family: $fontSemibold;
                }
            }
            .success-msg{
                margin-top: 30%;
                display: none;
                padding: 0 30px;
                text-align: center;
                p{                
                    color: $spotifyGreen;
                    font: $fontRegular;
                }
                a{
                    background: transparent;
                    color: $spotifyGreen;
                    font-size: 20px;
                    font-family: $fontSemibold;
                    padding: 5px 36px 5px 10px;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: '';
                        background-image: url("../img/arr-r.png");
                        width: 30px;
                        background-size: 87%;
                        background-repeat: no-repeat;
                        height: 30px;
                        right: 0px;
                        top: 6px;
                        @include transition(300ms);
                    }
                    &:hover{
                        &:before{
                            right: -10px;
                        }
                    }
                }
                span.percentage-acc{
                    display: block;
                    color: $spotifyGreen;
                    line-height: 30px;
                    b{
                        font-size: 18px;
                    }
                }
            }
        }
        .spotify-tracks-container{
            height: 530px;
            height: 78vh;
            padding: 10px 20px 40px 10px;
            position: relative;
            .vk-track{
                margin: 0 0 10px 0;
                padding: 0 10px;
                color: $spotifyGreen;
                span{
                    cursor: default;
                }
                .track-artist{
                    font-family: $fontSemibold;
                }
            }
        }
    }
}


.spotify-success-wrap{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    .spotify-success-holder{
        text-align: left;
        display: inline-block;
        p{
            color: $spotifyGreen;
            font-size: 42px;
            font-family: $fontSemibold;
            display: block;
            a{
                cursor: pointer;
            }
        }
        span{
            display: block;
        }
    }
}
