//fonts
$fontBold: 'open_sansbold', Tahoma, sans-serif;
$fontRegular: 'open_sansregular', Tahoma, sans-serif;
$fontExtrabold: 'open_sansextrabold', Tahoma, sans-serif;
$fontSemibold: 'open_sanssemibold', Tahoma, sans-serif;
